@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "norse";
    src:
        url("./public/Norse-Bold.otf"),
        format("opentype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    height: 100vh;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.logo-container {
    background: url("./public/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "norse", system-ui;
    font-size: 5rem;
    color: white;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 2rem 10rem;
    margin-top: 20vh;
}

.logo img {
    width: 5rem;
    height: 6rem;
}

.credits-for-background {
    display: flex;
    justify-content: center;
    align-items: end;
}

.credits-for-background small,
.credits-for-background small a {
    color: white;
}

.hero-container,
.form-container span {
    font-size: 1.4rem;
    font-weight: bold;
}

.hero-container {
    margin: 15vh 5rem 2rem 5rem;
}

.hero-container p+p {
    margin-top: 1rem;
}

.form-container {
    background-color: #f9fafb;

}

.form-main {
    background-color: white;
    border: 1px solid #fafafa;
    box-shadow: 2px 5px 5px lightgray;
    padding: 1rem 5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

section {
    display: flex;
}

.form-pair {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 1rem;
}

label {
    font-size: .75rem;
    letter-spacing: 0.1rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    font-size: 1rem;
    padding: 5px;
    width: 30ch;
    border: none;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    transition: 0.5s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=password]:focus {
    outline: none;
    border: 2px solid #7c98e8;
    box-shadow: 2px 2px 5px #7c98e8;
}

input[type=text]:valid,
input[type=email]:valid,
input[type=tel]:valid,
input[type=password]:valid {
    outline: none;
    border: 2px solid #73961d;
    box-shadow: 2px 2px 5px #73961d;
}

input[type=text]:invalid,
input[type=email]:invalid,
input[type=tel]:invalid,
input[type=password]:invalid {
    outline: none;
    border: 2px solid #bd2727;
    box-shadow: 2px 2px 5px #bd2727;
}

button {
    color: white;
    background-color: #596D48;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 1px solid #596D48;
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    margin: 2rem 5rem;
}

button:hover {
    background-color: #73961d;
}

button+p {
    margin-left: 5rem;
}

p>a {
    text-decoration: none;
    color: #596D48;
}